/* nav{
  background-color: #2e4a79;
  display: flex;
  justify-content: space-around;
}

nav a{
  color: rgb(236, 235, 234);
}

#app{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */